BOT_TOKEN = 'BOT_TOKEN'
BOT_GUILD = 'BOT_GUILD_NAME'
FROM_WALLET_ADDRESS = 'FROM_WALLET_ADDRESS'
CLAIMED_AMOUNT = 'CLAIMED_AMOUNT'
PRIVATE_KEY = 'FROM_WALLET_PRIVATE_KEY'
CONTRACT_ADDRESS = 'CONTRACT_ADDRESS'
RPC_ENDPOINT = 'RPC_ENDPOINT'
ASYNC_DATABASE_URL = 'ASYNC_DATABASE_CONNECTION_START_WITH_postgresql+asyncpg://'
CHANNEL_ID = 'CHANNEL_ID'
SYNC_DATABASE_URL = 'SYNC_DATABASE_CONNECTION_START_WITH_postgresql://'
